//@tailwind base;
@tailwind components;
@tailwind utilities;

@import "vars";

body{
  margin: 0;
  padding: 0;
  height: 100vh;

  * {
    outline: none;
  }

  a {
    width: 100%;
  }
}

#root {
 padding: 2%;
 height: 100vh;
}

.input-label {
  font-weight: 600;
}

.bg-primary {
  background-color: $primary;
}

@import "responsive";
@import "prime_styles";
