//@tailwind base;
@tailwind components;
@tailwind utilities;

@import "vars";

body{
  margin: 0;
  padding: 0;
  height: 100vh;

  //* {
  //  margin: 0;
  //  padding: 0;
  //}
}

#root {
 padding: 2%;
 height: 100vh;
}

.input-label {
  font-weight: 600;
}

@import "responsive";
@import "prime_styles";